<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3" style="width: 18rem;">
                <img src="<%= cl.image %> " class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=cl.title %>
                    </h5>
                    <p class="card-text text-muted">
                        <%= cl.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <%= cl.startTime %> to <%= cl.endTime %>
                    </li>
                    <li class="list-group-item">
                        <%= cl.classDays %>
                    </li>
                    <li class="list-group-item">
                        <%= cl.classType %>
                    </li>
                </ul>
                <div class="card-body">
                    <form action="/classes/<%=cl._id %>/edit" class='d-inline' method=GET>
                        <button class='btn btn-primary'>Edit</button>
                    </form>
                    <form class='d-inline' action="/classes/<%=cl._id %>?_method=DELETE" method=POST>
                        <button class='btn btn-danger'>Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>